@{
    Layout = "_MainLayout";
    ViewBag.Title = "Ingredient Query";
}
@Html.Partial("_IngredientModal")

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ingredient Query</title>
    <link rel="stylesheet" href="~/css/ingredientQuery.css">
</head>
<body>
    <main>
        <h4>
            Here is where you can find out what ingredients you have aswell as their nutrional information and quantity.
            Please select one of the ingredients below you'd like to query.
        </h4>
        <div class="middle-content">
            <select id="ingredientList">
                <option>Please Select</option>
            </select>
        </div>
        <div class="sorting-options">
            <input type="checkbox" id="sortDefault" name="sort" value="default" checked>
            <label for="sortDefault">Default Order</label>

            <input type="checkbox" id="sortAlphabetical" name="sort" value="alphabetical">
            <label for="sortAlphabetical">Alphabetical Order</label>
        </div>
        <div class="bottom-middle">
            <button id="updateBtn">Update</button>
            <button id="deleteBtn">Delete</button>
        </div>
        

        <div id="updateSection" style="display:none;">
            <hr>
            <h4>Update Ingredient</h4>
            <input type="text" id="updateId" hidden>

            <label for="updateName">Ingredient Name:</label>
            <input type="text" id="updateName">

            <input type="number" id="updateCalories" hidden>
            <input type="number" id="updateSalt" hidden>
            <input type="number" id="updateFat" hidden>

            <label for="updateQuantity">Quantity:</label>
            <input type="number" id="updateQuantity">

            <button id="saveUpdateBtn">Save</button>
        </div>

        <div class="bottom-buttons">
            <button class="action-button" id="addMealBtn">Add Meal</button>
            <button class="action-button" id="addIngredientBtn">Add Ingredient</button>
            <button class="action-button" id="mealQueryBtn">Meal Query</button>
        </div>
    </main>
    <script src="~/js/ingredientQuery.js"></script>
    </body>

</html>