@{
    Layout = "_MainLayout";
    ViewBag.Title = "Ingredient Query";
}
@Html.Partial("_IngredientModal")
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ingredient Query</title>
    <link rel="stylesheet" href="~/css/ingredientQuery.css">
</head>
<body>
    <main>
        <h4>
            Here is where you can find out what ingredients you have aswell as their nutrional information and quantity.
            Please select one of the ingredients below you'd like to query.
        </h4>
        <div class="middle-content">
            <select id="ingredientList">
                <option>Please Select</option>
            </select>
        </div>
        <button id="updateBtn">Update</button>
        
        <div class="bottom-buttons">
            <button class="action-button" id="addMealBtn">Add Meal</button>
            <button class="action-button" id="addIngredientBtn">Add Ingredient</button>
            <button class="action-button" id="mealQueryBtn">Meal Query</button>
        </div>
    </main>
    <script src="~/js/ingredientQuery.js"></script>
    </body>

</html>