@{
    Layout = "_MainLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingredient Query</title>
    <link rel="stylesheet" href="~/css/ingredientQuery.css">
</head>
<body>
    <header>

    </header>
    <main>
        <h4>Here is where you can find out what ingredients you have aswell as their nutrional information and quantity.
            Please select one of the ingredients below you'd like to query.
        </h4>
        <select id="ingredientList">
            <option>Please Select</option>
        </select>
    </main>
    <script src="~/js/ingredientQuery.js"></script>
</body>

</html>