@{
    Layout = "_MainLayout";
    ViewBag.Title = "Meal Query";
}
@Html.Partial("_IngredientModal")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meal Query</title>
    <link rel="stylesheet" href="~/css/ingredientQuery.css"> <!-- Use the same CSS for styling -->
</head>
<body>
    <main>
        <h4>
            Here is where you can find out what meals are available.
            Please select one of the meals below you'd like to query.
        </h4>
        <div class="middle-content">
            <select id="mealList">
                <option value="">Please Select</option>
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
        <div class="bottom-middle">
            <button id="checkQuantityBtn">Check Quantity</button>
            <button id="deleteBtn">Delete</button>
            <button id="checkIngredientsBtn" class="action-button">Check Ingredients</button>
        </div>
        <div id="ingredientsInfo" style="text-align:center; margin-top: 20px;"></div>

        <p id="mealQuantityResult" style="text-align:center; margin-top: 20px;"></p>
        <div class="bottom-buttons">
            <button class="action-button" id="addMealBtn">Add Meal</button>
            <button class="action-button" id="addIngredientBtn">Add Ingredient</button>
            <button class="action-button" id="ingredientQueryBtn">Ingredient Query</button>
        </div>
    </main>
    <script src="~/js/mealQuery.js"></script>
</body>
</html>
