@{
    Layout = "_MainLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meal Query</title>
    <link rel="stylesheet" href="~/css/mealQuery.css">
</head>

<body>
    <main>

    </main>
    <script src="~/js/mealQuery.js"></script>
</body>

</html>