body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

#homeButton, #logoutButton {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

button, select {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: steelblue;
    color: black;
    display: flex; /* Makes the element a block for centering */
    margin: 0 auto; /* Centers the block element horizontally */
    width: auto;
}

/* Additional styles for select elements to ensure they are not too wide */
select {
    max-width: 50%; /* Prevents select from being too wide */
    background-color: grey;
}
