@model ManagementSystem.Models.User

@{
    ViewData["Title"] = "Create";
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    @ViewBag.ErrorMessage
}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <header>
            <h4>Create Account</h4>
            <p>Please Create your account</p>
        </header>
        <main>
            <section class="test">
                <p>Your password must contain:</p>
                <ul>
                    <li>8 Characters</li>
                    <li>An uppercase character</li>
                    <li>A lowercase character</li>
                    <li>A number</li>
                </ul>


            </section>
            <section>
                <hr />
                <div class="row">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" placeholder="Create Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Create Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </section>
        </main>          
    </body>
</html>
    <div>
        <p>Already have an account?<a asp-action="Index">Login</a> </p>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
