
.meal-name{
    margin: 0px 10px;

}

.ingredient-box{
    margin: 0px 10px;
    gap: 10px;
}

label {
    display: block; /* Ensures the label takes the full width available, making the input appear below */
    margin-bottom: 10px; /* Creates a 10px space below each label */
}

#addIngToMealBtn {
    margin-bottom: 10px;
    background-color: blue;
}

#saveMealBtn{
    background-color: blue;
}









