.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.middle-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px; /* Adds bottom margin for spacing */
}
#updateBtn{
    text-align: left;
    justify-content: left;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    margin-top: 20px; /* Optional: adds top margin for additional spacing if needed */
}
