#styling {
    display: none; 
    flex-direction: column;
    align-items: flex-start;
}
#addIngredientToMealBtn{
    margin-bottom: 10px;
}
#styling ul{
    text-align: left;
}
#errorIngredients {
    text-align: left;
    font-size: 14px;
    color: black;
}
#calculateBtn, #addMealBtn {
    background-color: blue;
}
.selected-meals ul, #emptyIngredients {
    padding: 0;
}

.meal-results table {
    width: 100%;
    border-collapse: collapse;
}

.meal-results th, .meal-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.meal-results th {
    background-color: #f4f4f4;
}

.bottom-buttons{
    display: flex;
    margin: 10px;
    justify-content: center;
}