
<div id="ingredientModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button">xxx</span>
        <h3>Add/Update an Ingredient</h3>
        
        <form id="addIngredientForm">
            <!-- Input fields for the form -->
            <label for="name">Ingredient Name:</label>
            <input type="text" id="name" required>

            <label for="calories">Calories(g):</label>
            <input type="number" id="calories" >

            <label for="salt">Salt(g):</label>
            <input type="number" id="salt" step="0.01">

            <label for="fat">Fat(g):</label>
            <input type="number" id="fat" step="0.01">

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" required>

            <input type="submit" value="Submit">
        </form>
    </div>
    <style>
        #addIngredientForm label,
        #addIngredientForm input {
            display: block; /* makes each element take up the full width */
            margin-bottom: 10px;
        }

        #addIngredientForm input
        {
            width: 100%; 
            padding: 8px; 
            box-sizing: border-box; /* Ensures padding doesn't affect overall width */
        }

        .modal-content {
            
            width: 400px; 
            margin: auto; 
            padding: 20px; 
            background-color: tan;
        }
    </style>
    <script>
        async function CreateIngredient(event) {
            event.preventDefault();
            const endpoint = "https://localhost:44342/api/Ingredients";

            const ingredient = {
                name: document.getElementById('name').value,
                calories: document.getElementById('calories').value,
                salt: document.getElementById('salt').value,
                fat: document.getElementById('fat').value,
                quantity: document.getElementById('quantity').value,
            };
            if (ingredient.quantity === null){
                Alert("Quantity cannot be empty");
                return;
            }
            else if (ingredient.name === null){
                Alert("Name cannot be empty");
                return;
            }

            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(ingredient)
            })
            .then(response => {
                if (response.ok) {
                    alert("Ingredient Creation Successful");
                }
                else {
                    alert("Ingredient already exists.");
                }
            })
            .then(data => console.log(data))
            .catch(error => {
                alert("Ingredient Creation unsuccessful",error);
                console.error(error);
            });
        }
        document.getElementById("addIngredientForm").addEventListener("submit", CreateIngredient);
    </script>
</div>
